numpy
pandas
ruamel.yaml
setuptools
GitPython
matplotlib
cloc   # https://github.com/AlDanial/cloc
requests
hdmf-docutils  # used to programmatically create RST pages
PyGithub # For issue response time analysis
tqdm # For issue response time analysis